{
  "env": {
    "es6": true, // needed to use es6 code
    "browser": true, // needed to use e.g. `setTimeout`
    "node": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "jest", "prettier", "react"],
  "extends": [
    "eslint:recommended", // default rules, like 'no unused var'
    "plugin:@typescript-eslint/recommended", // rules we need to lint typescript
    "plugin:react/recommended", // rules we need to lint react
    "prettier", // integration woth prettier, this part needs to be at the end
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2018,
    "source": "module",
    "jsx": true
  },
  "settings": {
    "react": {
      "version": "detect" // eslint needs to know the react version. WIth detect, it will detect it automatically
    }
  },
  "rules": {
    // turn on errors for missing imports
    "react/prop-types": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true
      }
    ],
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ]
  }
}
