/* Global styles, needed to unify common elements */

body,
textarea,
input,
select,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 1.4;
  /* Better fonts for chrome  */
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

div,
a,
textarea,
input,
select,
button,
ul,
li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/*
  Since we often use the react-router-dom Link component,
  but don't want to color the inner text (e.g. for the Navigation)
  you can add the noLinkColor className to use the default text color.
  So far, this is the only time we are using the className prop.
  But it's the easiest way to deal with the described conditions
*/
a.noLinkColor {
  color: inherit;
}

b {
  font-weight: bold;
}

input {
  margin: 0;
  -webkit-appearance: none;
}
