/* Global styles, needed to unify common elements */

body,
textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  /* Better fonts for chrome  */
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

div,
a,
textarea,
input,
select,
button,
ul,
li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

b {
  font-weight: bold;
}

input {
  margin: 0;
  -webkit-appearance: none;
}

svg:not(:root) {
  overflow: visible;
}
